@import '../../_shared';

.auth-form {
  .auth-form-label {
    color: $grey;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .auth-form-input {
    color: $black;
    border-color: $grey;
    border-width: 2px;
    border-radius: 4px;

    &::placeholder {
      color: $grey;
      opacity: 0.8;
      font-weight: 500;
    }

    &:focus {
      color: $darkgrey;
      box-shadow: none;

      &::placeholder {
        opacity: 0.6;
      }
    }
  }// .auth-form-input

  .auth-form-checkbox {
    margin-bottom: 0.5rem;

    .auth-form-label {
      line-height: 1.5rem;
    }
  }

  .auth-form-link {
    @include link-button($purple);
  }

  .terms-link {
    margin-left: 0.2rem;
    font-size: inherit;
  }

  .auth-form-submit-btn {
    @include outline-button($black, $white, $black);
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 4rem;
  }
}
