<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="footer-sitemap-section col-4 col-lg-3">
        <h4 class="sitemap-title">CATEGORIES</h4>
        <ul class="sitemap-items-list list-unstyled">
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['/products/category', 'men']">
              Men
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['/products/category', 'women']">
              Women
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['/products/category', 'kids']" >
              Kids
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['/products/category', 'outdoors']">
              Outdoors
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['/products/category', 'running']">
              Running
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-sitemap-section col-4 col-lg-3">
        <h4 class="sitemap-title">INFO</h4>
        <ul class="sitemap-items-list list-unstyled">
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1" [routerLink]="['/about']">
              About Us
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Careers
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Press
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Sustainability
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Affiliates
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-sitemap-section col-4 col-lg-3">
        <h4 class="sitemap-title">HELP</h4>
        <ul class="sitemap-items-list list-unstyled">
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Order Status
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Shipping and Delivery
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Returns
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Payment Options
            </a>
          </li>
          <li class="sitemap-item">
            <a class="sitemap-link" tabindex="-1">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-social-presence col-12 col-lg-3 order-first order-lg-last">
        <a class="social-link" href="https://instagram.com" target="_blank" tabindex="-1">
          <span class="fa fa-instagram"></span>
        </a>
        <a class="social-link" href="https://youtube.com" target="_blank" tabindex="-1">
          <span class="fa fa-youtube-play"></span>
        </a>
        <a class="social-link" href="https://twitter.com" target="_blank" tabindex="-1">
          <span class="fa fa-twitter"></span>
        </a>
        <a class="social-link" href="https://facebook.com" target="_blank" tabindex="-1">
          <span class="fa fa-facebook"></span>
        </a>
      </div>
    </div>
  </div>
</footer>
